{% extends "bootstrap/base.html" %}

{% block head  %}
<title>Todo</title>
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
{% endblock %}
{% endblock %}

{% block body  %}
<div class="container jumbotron">
{% block title %}
<h1>Todo</h1>
{% endblock %}
  <div class="top-buttons">
    <a href="{{ url_for('new') }}" class="btn btn-outline-primary">New Job</a><br /><br />
    <button type="button" name="completed" id="completed" class="btn btn-primary btn-sm">completed</button>
    <a href="{{ url_for('incompleted_jobs_list') }}" class="btn btn-secondary btn-sm">Incompleted Jobs</a><br /><br />
  </div>
  <div class="jobs container">
    {% if ijobs %}
    <div class="i-job row">
      {% for job in ijobs %}
      <div class="left col-8">
        <h2 title="{{ job.text }}">{{ job.title }}</h2>
      </div>
      <div class="right col-4">
        <a href="/edit/{{ job.id }}/" class="btn btn-outline-info" >Edit</a>
        <a href="/delete/{{ job.id }}/" class="btn btn-outline-danger">Delete</a>
        <a href="/done/{{ job.id }}/" class="btn btn-outline-warning">Done</a>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    {% if cjobs %}
    <div class="c-job">
      <div class="left">
        <s>Job1</s>
      </div>
      <div class="right">
        <button type="button" name="back" id="back">Back</button>
      </div>
    </div>
    {% endif %}
  </div>

</div> 

<script src="{{ url_for('static', filename='js/todo.js')  }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js')  }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
{% endblock  %}
